<div class="method">
  <div class="method-sig">
    <div class="icon"><img class="icon" src="assets/lock-{icon}.png"/></div>
    <div class="function">
      <span class="function">function</span>
      <span class="name">{name}</span>({sig})
    </div>
    <div class="return" style="display:{show-return}">
      return <span class="return-type">{type}</span>
    </div>
    <div class="clear"></div>
  </div>
  <div class="method-note" style="display:{show-note}">
    <div class="desc-label">Description:</div> 
    <div class="note">{note}</div>
    <div class="clear"></div>
  </div>
  <div class="tagsets" style="display:{show-tagsets}">
    <div class="method-tagset" style="display:{show-params}">{params}</div>
    <div class="method-tagset" style="display:{show-example}">{example}</div>
    <div class="method-tagset" style="display:{show-throws}">{throws}</div>
    <div class="method-tagset" style="display:{show-link}">{link}</div>
    <div class="method-tagset" style="display:{show-see}">{see}</div>
  </div>
  <div class="method-return" style="display:{show-return}">
    <div class="tag">@return</div> 
    <div class="type">{type}</div>
    <div class="note">{return-note}</div>
    <div class="clear"></div>
  </div>
  <div class="footer"></div>
</div>
