<div class="property">
  <div class="var">
    <div class="type">{type}</div>
    <div class="name">{name}</div>
    <div class="clear"></div>
  </div>
  <div style="display:{display-note}" class="prop-note">
    <div class="desc-label">Description:</div> 
    <div class="note">{note}</div>
    <div class="clear"></div>
  </div>
  <div class="tagsets" style="display:{display-tagsets};">
    <div class="property-tagset" style="display:{display-example}">{example}</div>
  </div>
  <div class="footer"></div>
</div>
