SimpleDocumenter
================

SimpleDocumenter is a zero-dependency phpdoc comment analyzer, packaged as a single file.

Generated API Documentation
===========================

SimpleDocumenter + an HTML procedure produced the following API documentation Web pages:

<b>SimpleDocumenter Classes</b>

{simple-documenter-html-examples}

<b>Vendor Classes</b>

{vendor-html-examples}

See [doc-to-html.php](https://github.com/joeldalley/php-SimpleDocumenter/blob/master/doc-to-html.php)

Add SimpleDocumenter To Your Project
====================================
```
perl -MLWP::Simple -e 'getprint "https://raw.githubusercontent.com/joeldalley/php-SimpleDocumenter/master/SimpleDocumenter.php"'
```

Basic Usage
===========
```php
{example-1}
```

<b>Outputs:</b>
```
{example-1-output}
```

For a more complex use case, see [doc-to-html.php](https://github.com/joeldalley/php-SimpleDocumenter/blob/master/doc-to-html.php)

Why SimpleDocumenter?
=====================

<b>Absolute Portability</b>

SimpleDocumenter is a single file with no dependencies, and is only {sloc} source lines of code.

As such, portability is absolute. A local copy of SimpleDocumenter can be gotten by copying & pasting 
the [source file](https://raw.githubusercontent.com/joeldalley/php-SimpleDocumenter/master/SimpleDocumenter.php).

<b>Callback Filtering</b>
```php
{example-2}
```

<b>Outputs:</b>
```
{example-2-output}
```

`SimpleDocumenterNode::from()` makes it easy to filter inheritance heirarchies:

```php
{example-3}
```

<b>Outputs:</b>
```
{example-3-output}
```

<b>Extensibility</b>

Easily add support for tags that are not already in SimpleDocumenter's `$tags` array, using `addTag()`.<br/>
And just as easily, you can add your own text analyzer functions to precisely direct how any given tag's text gets parsed.<br/>
(That said, to extend the SimpleDocumenter core, you will have to know all the details about a SimpleDocumenterTag object.)<br/>
Example:

```php
{example-4}
```

<b>Outputs:</b>
```
{example-4-output}
```

<b>Trade-offs</b>

SimpleDocumenter only works on classes. It can't analyze functions in the global namespace.

Copyright & License
===================

php-SimpleDocumenter is copyright &copy; Joel Dalley 2015.<br/>
php-SimpleDocumenter is distributed under the same license as Perl.
